/* product detail */
.css_attribute_image {
  display: inline-block;
  border: 1px solid #999999;
  text-align: center;
  width: 32px;
  height: 32px;
}
.css_attribute_image input {
  opacity: 0;
}
.css_attribute_image.active {
  border: 3px ridge #66ee66;
}
.css_attribute_image.active input {
  margin: 3px;
}

label.css_attribute_image.css_not_available {
  opacity: 1;
  background-image: url("/website_sale/static/src/img/redcross.png");
  background-size: cover;
}
