.o_bulgaria_table {
    display: table;
    width: 100%;
}
.o_bulgaria_row {
    display: table-row;
}
.o_bulgaria_custom_cell {
    font-weight: bold;
    display: table-cell;
    padding: 3px 3px;
}
.o_bulgaria_cell {
    display: table-cell;
    padding: 3px 3px;
    font-weight: normal;
}
