/* properties layout */
.o_properties_table {
    display: table;
    width: 100%;
    line-height: 1.3;
    border: none;
}
.o_properties_thead {
    display: table-header-group;
}
.o_properties_tbody {
    display: table-row-group;
    width: 100%;
}
.o_properties_row {
    display: table-row;
    page-break-inside: avoid;
    clear: both;
}
.o_properties_custom_cell {
    color: rgba(#00447AFF, 0.8);
    display: table-cell !important;
    width: 20% !important;
    padding: 3px 3px;
    word-wrap: break-word;
    font-weight: 300;
    border: none;
    float: left;
}
.o_properties_cell {
    display: table-cell !important;
    width: 80%;
    padding: 3px 5px;
    word-wrap: break-word;
    font-weight: normal;
    border: none;
    float: left;
}
.o_properties_cells_full_clear {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
}
.o_properties_cells_only_bottom {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 1px solid #055493FF !important;
}
.o_properties_cells_only_bottom_background {
    color: darkblue !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 1px solid #055493FF !important;
    background-color: #85A9F5FF;
}
.o_properties_custom_cells {
    font-weight: 600;
    color: #00447AFF;
}
.o_properties_detail_cells {
    font-weight: bold;
    color: #F5F5F5FF;
}
.o_properties_cells {
    font-weight: 600;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.o_properties_cells_sprv {
    font-weight: 600;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.o_properties_cells_clear {
    font-weight: 600;
    border-left: none;
    border-bottom: 1px solid black;
}
.o_properties_cells_right {
    font-weight: 600;
    border-left: none;
    border-right: 1px;
    border-bottom: 1px solid black;
}
.o_properties_wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.o_properties_main {
    order: 2;
    text-align: left;
}
.o_properties_aside-1 {
    order: 1;
    color: #00447AFF;
    font-weight: bold;
}
.o_properties_aside-2 {
    order: 3;
}
.o_properties_aside-3 {
    order: 4;
}
.o_properties_custom_name {
    color: #00447AFF !important;
    font-weight: 600;
}
.o_properties_custom_name_pricelist {
    background-color: #79796d !important;
    color: #FFFFFF !important;
    font-weight: 600;
    border: none;
}
